
		/* Responsive CSS */
        @media only screen and (max-width: 768px) {
            /* Adjustments for smaller screens */
            table {
                width: 100%;
                margin-bottom: 20px;
            }
            table td {
                display: block;
                text-align: center;
            }
            table td img {
                display: inline-block;
                margin-bottom: 10px;
            }
        }
		html
		{
			scroll-behavior:smooth;
		}

		body
		{
			text-align:center;
			color: white;
			background-image: url("assets/bg.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0px;
			background-attachment: fixed;
			font-family:"arial";
		}
		div>a:hover
		{
			box-shadow:0 0 10px white;
		}
		#links>a 
		{
			text-decoration: none;
			color:white;
			font-weight: bold;
			background-color: red ;
			width: 100px;
			display: inline-block;
			margin: 10px;
			padding: 7px 10px;
			border-radius: 10px 10px;
		}
		h2
		{
			background-color: beige;
			color:navy;
			padding:8px;
			border:5px solid maroon;
			width:500px;
			margin:20px auto;
			border-radius:20px ;
			
		}

		table
		{
			width:100%;
		}

		img
		{
			border:3px solid; darkred;
			border-radius:10px;
			padding:5px;
		}
